{#
 * Shopping Cart block for Ecwid
#}

{% set script_src = "https://app.ecwid.com/script.js?" ~ store_id ~ "&amp;data_platform=code" %}

<script data-cfasync="false" type="text/javascript" src="{{ script_src }}" charset="utf-8"></script>

<div id="ecwid_minicart_module_wrapper">
	<script type="text/javascript"> xMinicart("style="); </script>
</div>
