{#
 * Search block for Ecwid
#}

{% set script_src = "https://app.ecwid.com/script.js?" ~ store_id ~ "&data_platform=code" %}

<div id="my-search-{{store_id}}"></div>
<div>
  <script data-cfasync="false" type="text/javascript" src="{{script_src}}" charset="utf-8"></script>
  <script type="text/javascript"> xSearch("id=my-search-{{store_id}}"); </script>
</div>
